<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Create cards / Candy Bank</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="This is an example dashboard created using build-in elements and components."
    />
    <meta name="msapplication-tap-highlight" content="no" />
    <link
      href="https://demo.dashboardpack.com/architectui-html-free/main.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="./assetsweb/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div
      class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
      id="app"
    >
      <div class="app-header header-shadow">
        <div class="app-header__logo">
          <div class="candylogo fw-semibold">CandyBank</div>
          <div class="header__pane ml-auto">
            <div>
              <button
                type="button"
                class="hamburger ms-2 close-sidebar-btn hamburger--elastic"
                data-class="closed-sidebar"
              >
                <span class="hamburger-box">
                  <span class="hamburger-inner"> </span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="app-header__mobile-menu">
          <div>
            <button
              type="button"
              class="hamburger hamburger--elastic mobile-toggle-nav"
            >
              <span class="hamburger-box">
                <span class="hamburger-inner"> </span>
              </span>
            </button>
          </div>
        </div>
        <div class="app-header__menu"></div>
        <div class="app-header__content">
          <div class="app-header-right">
            <div class="header-btn-lg pr-0">
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left ms-5">
                    <div class="btn-group">
                      <a
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        class="p-0 btn nohover"
                      >
                        <img width="42" class="rounded-circle" src="" alt="" />
                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                      </a>
                      <div
                        tabindex="-1"
                        role="menu"
                        aria-hidden="true"
                        class="dropdown-menu dropdown-menu-right"
                      >
                        <button
                          type="button"
                          tabindex="0"
                          class="dropdown-item"
                        >
                          <i class="bi bi-person-plus me-2"></i>New Account
                        </button>
                        <button
                          type="button"
                          tabindex="0"
                          class="dropdown-item"
                        >
                          Settings
                        </button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button
                          type="button"
                          tabindex="0"
                          class="dropdown-item"
                        >
                          Log out
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="widget-content-left ml-3 header-user-info">
                    <div class="widget-heading">
                      {{client.name}} {{client.lastName}}
                    </div>
                    <div class="widget-subheading">{{client.email}}</div>
                  </div>
                  <div class="widget-content-right header-user-info ml-3">
                    <button
                      type="button"
                      class="btn-shadow p-1 candybtn btn btn-sm show-toastr-example"
                    >
                      <i class="fa text-white fa-solid fa-user pr-1 pl-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-main maincandy">
        <div class="app-sidebar sidebar-shadow">
          <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
              <div>
                <button
                  type="button"
                  class="hamburger btn-danger close-sidebar-btn hamburger--elastic"
                  data-class="closed-sidebar"
                >
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div class="app-header__mobile-menu">
            <div>
              <button
                type="button"
                class="hamburger btn-danger hamburger--elastic mobile-toggle-nav"
              >
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>

          <div class="scrollbar-sidebar">
            <div class="app-sidebar__inner">
              <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading candytext">Dashboard</li>
                <li>
                  <a class="fw-semibold" href="./accounts.html">
                    <i class="metismenu-icon bi bi-clipboard-data fs-3"></i>
                    Dashboard
                  </a>
                </li>
                <li class="app-sidebar__heading candytext">Cards</li>
                <li>
                  <a class="mm-active fw-semibold" href="./cards.html">
                    <i class="metismenu-icon bi bi-credit-card fs-3"></i>
                    Cards
                  </a>
                </li>
                <li class="app-sidebar__heading candytext">transactions</li>
                <li>
                  <a class="fw-semibold" href="./transactions.html">
                    <i class="metismenu-icon bi bi-cash-coin fs-3"></i>
                    Transactions
                  </a>
                </li>
                <li class="app-sidebar__heading candytext">Loans</li>
                <li>
                  <a class="fw-semibold" href="./loans.html">
                    <i class="metismenu-icon bi bi-bank2 fs-3"> </i>Loans
                  </a>
                </li>
                <li>
                  <a class="espacio fw-semibold" @click="logOut" href="#">
                    <i class="metismenu-icon bi bi-box-arrow-right fs-3"> </i
                    >Log Out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="app-main__outer maincandy">
          <div class="main-content maincandy">
            <form action="" @submit.prevent="createCard" class="p-5">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gold"
                  id="gold"
                  value="GOLD"
                  v-model="color"
                />
                <label class="form-check-label" for="gold"> Gold </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="titanium"
                  id="titanium"
                  value="TITANIUM"
                  v-model="color"
                />
                <label class="form-check-label" for="titanium">
                  Titanium
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="Silver"
                  id="Silver"
                  value="SILVER"
                  v-model="color"
                />
                <label class="form-check-label" for="Silver"> Silver </label>
              </div>
              <div class="form-check pt-5">
                <input
                  class="form-check-input"
                  type="radio"
                  name="debit"
                  id="debit"
                  value="DEBIT"
                  v-model="type"
                />
                <label class="form-check-label" for="debit"> Debit </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="credit"
                  id="credit"
                  value="CREDIT"
                  v-model="type"
                />
                <label class="form-check-label" for="credit"> Credit </label>
                <input
                  type="submit"
                  value="Obtener Tarjeta"
                  class="ms-5 text-white btn candybtn"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assetsweb/js/create-cards.js"></script>
  </body>
</html>
